
{% extends "base.html" %}

{% block content %}

<h2>PROJECT OVERVIEW</h2>
<section class="project_stats col-md-8">
  <h3 class="col-md-10">
    <a href="documents"><img src="{{ url_for('static', path='/images/pen-tool.png') }}" alt=""></a>
    {{projects.project_name}} ({{projects.total_documents}}) </h3>

  <section class="col-md-12">
    <canvas id="stackedBar" height="50"></canvas>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
// Change these three values as needed:
const valueA = {{projects.reviewed_documents}};
const valueB = {{projects.transcribed_documents}};
const valueC = {{projects.total_documents - projects.transcribed_documents - projects.reviewed_documents}};

new Chart(document.getElementById('stackedBar'), {
  type: 'bar',
  data: {
    labels: [''],  // single bar
    datasets: [
      { label: 'reviewed ('+{{projects.reviewed_documents}}+')', data: [valueA], backgroundColor : "#C292E0" },
      { label: 'transcribed ('+{{projects.transcribed_documents}}+')', data: [valueB], backgroundColor: "#9352BC" },
      { label: 'to be transcribed ('+{{projects.total_documents - projects.transcribed_documents - projects.reviewed_documents}}+')', data: [valueC], backgroundColor : "#F2EEEE" }
    ]
  },
  options: {
    indexAxis: 'y', // horizontal direction
    responsive: true,
    maintainAspectRatio: false, // allow custom height
    barThickness: 10,
    plugins: {
      legend: { position: 'bottom' }
    },
    scales: {
      x: { stacked: true,
          beginAtZero: true ,
          grid: { display: false },
          ticks: { display: false },
          border: { display: false }
        },
      y: { stacked: true ,
          grid: { display: false },
          ticks: { display: false },
          border: { display: false }}
    }
  }
});
</script>

</section>

<section class="project_stats col-md-8">
  <!-- <h2>Documents</h2> -->
  <table>
  <tr>
    <th><a href="?sort=id&order={{ 'desc' if sort=='id' and order=='asc' else 'asc' }}">Document ID <img class="sort_img" src="{{ url_for('static', path='/images/sort.png') }}" alt=""></a></th>
    <th title="number of extracted chunks"><a href="?sort=chunks&order={{ 'desc' if sort=='id' and order=='asc' else 'asc' }}">Chunks <img class="sort_img" src="{{ url_for('static', path='/images/sort.png') }}" alt=""></a></th>
    <th title="last chunk number">Expected</th>
    <th title="issues found in sequential order"><a href="?sort=issues&order={{ 'desc' if sort=='issues' and order=='asc' else 'asc' }}">Issues <img class="sort_img" src="{{ url_for('static', path='/images/sort.png') }}" alt=""></a></th>
    <th title="percentage of issues over the number of extracted chunks">%</th>
    <th><a href="?sort=status&order={{ 'desc' if sort=='status' and order=='asc' else 'asc' }}">Status <img class="sort_img" src="{{ url_for('static', path='/images/sort.png') }}" alt=""></a></th>
  </tr>

  {% for cat, val in documents.items() %}
  <tr>
    <td><a href="/document/{{ cat }}">{{ cat }}</a></td>
    <td>{{ val.chunks }}</td>
    <td class="{{'inconsistent' if val.expected_chunks != val.chunks else '' }}">{{ val.expected_chunks }}</td>
    <td>{{ val.issues }}</td>
    <td>{{ val.issues_percent }}</td>
    <td>{{ val.status }}</td>
  </tr>
  {% endfor %}
</table>

</section>
{% endblock %}
