<!-- Sidebar -->
   <div class="d-flex flex-column" id="sidebar">
       <div class="p-5 sticky-top">
           <h1><a href="/">data<b>tune</b></a></h1>
           <h2 class="menu_title">{{projects.project_name}}</h2>
           {% if projects.document_id %}
            <h3 class="menu_subtitle">{{projects.document_id}}</h3>
           {% endif %}
       </div>

       {% if projects.chunks %}

         <div class="sidebar flex-grow-1 overflow-auto p-5">
           <h2>Chunks</h2>
           {% for ch in projects.chunks %}
             <div class="toc-item {% if ch.needs_revision %}issue{% endif %}" id="toc_{{ ch.anchor_id }}">
               <a href="#{{ ch.anchor_id }}"> > {{ ch.num }}</a>
               {% if ch.needs_revision %}
                 <button class="btn-resolve" onclick="resolveIssue('{{ catalogue_id }}','{{ ch.num }}','toc_{{ ch.anchor_id }}')">✓</button>
               {% endif %}
             </div>
           {% endfor %}
         </div>
       {% endif %}

           <!-- <ul class="nav flex-column">
               <li class="nav-item">
                   <a class="nav-link" href="/documents">Documents</a>
               </li>
           </ul> -->
      <p class="fixed-bottom p-5 logout"><a href="/logout">Logout</a> | <a href="/">Home</a></p>
   </div>
